# Project exclude paths
/CommonData/target/
/LAS/target/
/OpenStreetMap/target/
/WorldDecorator/target/
/Main/target
/MinecraftSchematic/target/
/GroundColor/target
/target/
/CityGml/target

inputData
output
logs
**/*.iml
*.iml
.idea
flight.jfr
*.dat