# Project exclude paths
/CommonData/target/
/LAS/target/
/OpenStreetMap/target/
/WorldDecorator/target/
/Main/target
/MinecraftSchematic/target/
/GroundColor/target
/target/

inputData
output
logs
**/*.iml
*.iml
.idea